[submodule "Firmware/main/modules/eeprom"]
	path = Firmware/main/modules/eeprom
	url = https://github.com/jtmaston/AT24-ESP32.git
[submodule "main/modules/eeprom"]
	path = main/modules/eeprom
	url = https://github.com/jtmaston/AT24-ESP32.git
